/*Navbar*/
.nav-item {
  margin-left: 4px;
  color: rgb(31, 60, 205);
  font-family: "Lexend", sans-serif;
  font-size: 18px;
}

.nav-link {
  color: rgb(33, 69, 252);
}

span {
  font-weight: 500;
  margin-right: 1px;
  font-family: Roboto;
}

/*Grid container*/

/*.container {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 100px 300px 400px 500px 600px 400px 400px 500px 800px;
} */

.container {
  margin-top: 30px;
  font-family: Roboto;
  color: rgb(71, 68, 68);
}

.item-1 {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 5px;
  background-color: rgb(119, 138, 222);
  color: rgb(255, 255, 255);
}
.item-2 {
  width: 50%;
  float: left;
  margin-top: 20px;
}

.item-3 {
  display: flex;
  justify-items: center;
  width: 50%;
  float: right;
  margin-top: -10px;
}

.cfare {
  width: 600px;
  height: 500px;
  margin-top: 1%;
  margin-left: 40px;
}

.item-4 {
  margin-top: 19%;
}

.item-5 {
  margin-top: 2%;
  margin-bottom: 4%;
}

.item-7 {
  margin-top: 2%;
  margin-bottom: 4%;
}
.img {
  width: 600px;
  height: 500px;
  float: right;
}

.item-8 {
  margin-bottom: 3%;
}

p {
  font-size: 17px;
}

li::marker {
  color: blue;
}

li {
  font-weight: 300;
}
